.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.jumbotron {
    background-image: url('https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    height: 640px;
}

@media (min-width: 992px) { 
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #fc0341;
        width: 50%;
        margin: auto;
    }

    .jumbotron {
        margin-top: -75px;
    }
}